p {
    font-size: 10px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
h1 {
    text-align: center;
}
#profile-img {
    border-style: solid;
    height: 25%;
    width: 25%; 
    margin: 0px 50px 50px 50px; 
    
}
.column {
    float: left;
    width: 50%;
}
#paragraph-text {
    text-align: right;
}
